<section class="page-header recime-page-header">
  <img class="project-icon" src="{{ site.baseurl }}/icon.png"/>
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://m.me/769372433211496" class="btn facebook">
    <img class="facebook-icon" src="{{ site.baseurl }}/images/fb.png"/>
    <span>Send message</span>
  </a>
  <a href="https://telegram.me/flckr_bot" class="btn telegram"><img class="facebook-icon" src="{{ site.baseurl }}/images/telegram.png"/><span>Add to Telegram</span> </a>
</section>
