.page-header {
    color: #74b1be;
    background-color: #2b2e3b !important;
    -webkit-font-smoothing: antialiased;
    background: none;
}
.project-tagline {
  color: #74b1be!important;
}
.main-content h1, h2, h3 {
    color: #20515b !important;
}

.facebook {
  img {
    width: 20px;
  }
}
